<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="body-home">

    <% if (isLogged) { %> // is logged

        <%- include('./partials/userHeader') %>
     
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>
    
    <main class="main-home">

        <section class="home-banners">

            <img src="/images/imageBanner1.jpg" alt="">

        </section>



        <div>
            <h3 id="#products" class="tittle-home">PRODUCTOS</h3>
        </div>
        <div class="line-separator"></div>


        <section>
            <% products.forEach(product => { %>
                <%- include ('./partials/card', {product}) %> 
            <% }) %>
            
        </section>

        

        <section class="banner"><h2>Merchandisign</h2></section>

        <div class="line-separator"></div>
       
        <section>

            <% merchandising.forEach(merch => { %>
             <article class="product-home">
                <a href="/products/<%= merch.id %>">
                    <div>
                        <img class="image-product-home" src="images/<%= merch.image %>" alt="imagen de merchandising">
                    </div>
                    <div class="descripcion">    
                       
                        <p class="precio">$<%= merch.price %></p>
                     
                        <p class="nombre"><%= merch.name %></p>
                    </div>
                </a>                    
            </article>
            <% }) %>

            



         
        </section>
       

    </main>
<%- include('./partials/footer.ejs')  %> 
</body>
</html>