<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>


    <%- include('./partials/header') %>

    <section>
        <div class="img-btns">
                
                <div class="name-like">

                    <div class="container-name-product">
                        <h3 class="name-product"><%= product.name %></h3>
                    </div>

                    <button class="like"><i class="fa-solid fa-heart-circle-plus"></i></button>

                </div>

                <div class="div-image">
                    <img class="image-product" src="/images/<%= product.image %> " alt="">
                </div>

                <div class="container-btns-price">

                    <a href="/carrito"><button class="btn-buy">comprar</button>

                    <a href="/carrito"><button class="btn-cart-detail"><i class="fa-solid fa-cart-shopping"></i></button></a>
                    <button class="btn-buy"><a href="/products/edit/<%= product.id %>">Editar Producto</a></button>

                    <form action="/products/delete/<%= product.id %>?_method=delete" method="post" >
                        <button class="btn-buy" type="submit">borrar producto</button>
                    </form>

                    <p class="price">$ <%= product.price %> </p>
                </div>
            
                
            
                
            
        </div>
        <div class="description">
            <h3 class="title-desc">descripcion:</h3>

            <p><%= product.name %> </p>
                <br> <br>
            
                <p><%= product.description %> </p> 
            
            <br><br>
        </div>


    </section>



        <%- include('./partials/footer.ejs')  %> 
</body>
</html>