<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body class="body-admin-produ">
    <%- include('./partials/header') %>

    <section class="section-admin-produ">
        <h1>Estas editando <%=product.nombre %> </h1>
        <form action="/products/edit/<%=product.id%>?_method=PUT" method="POST">

            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name" value="<%=product.marca %>">

            <label for="category">Categoria:</label>
            <select name="category" id="category">
                <% if (product.categoria=="cerveza") { %>
                    
                    <option value="cerveza" selected="selected">Cerveza</option>
                <% } else {%>
                    <option value="cerveza">Cerveza</option>
                <% } %> 
                <% if (product.categoria=="merchandising") { %>
                
                    <option value="cerveza" selected="selected">Merchandising</option>
                <% } else {%>
                    <option value="cerveza">Merchandising</option>
                <% } %>         
            </select>
        
            <label for="image">Imagen:</label>
            <input type="file" name="image" id="image">

            <label for="description">Descripcion:</label>
            <input type="text" name="description" id="description" value="<%=product.descripcion %> ">

            <label for="price">Precio:</label>
            <input type="text" name="price" id="price" value="<%= product.precio %> ">

            <button type="submit">Enviar</button>

            <button>Borrar</button>

        </form>
    </section>

    <%- include('./partials/footer.ejs')  %>
</body>
</html>